

.titleBottoms{
    
    font-family: 'Rock Salt', cursive;
    font-size: 600%;
    text-align: center;
    color: rgb(236,88,43);
    margin: 1em;
}

.textHome{
    font-family: 'Rock Salt', cursive;
    font-size: 200%;
    text-align: center;
  
    
}

.mainButton {
    font-family: 'Rock Salt', cursive;
    background: #FBCA1F;

    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.mainButton:hover{
 box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}